<div class="card" style="width: 18rem;">
    <img src="
    <%= tecnologia.IMG %>
    " class="card-img-top" alt="..." height="100">
    <div class="card-body">
        <h5 class="card-title">
            <%= tecnologia.name %>
        </h5>
        <p class="card-text">
            <%= tecnologia.descripcion %>
        </p>

    </div>
</div>