<!DOCTYPE html>
<html lang="en">

<%-include("partials/head")%>

<body>

    <h1><%=titulo%></h1>
    <h3><%=descripcion%></h3>

    <h4>Lo que estas buscando no está disponible: Te invitamos a conocer <a href="/sucursales">sucursales</a> para encontrar mas informacion</h4>

   <img src="/images/404.gif" alt="error">
</body>
</html>