<!DOCTYPE html>
<html lang="en">

<%-include("partials/head")%>

<body>

    <h1><%=titulo%></h1>
    <h3><%=descripcion%></h3>

    <h4>esta sucursal no existe, pero tenemos mas <a href="/sucursales">sucursales para que conozcas</a></h4>

   <img src="/images/404.gif" alt="error">
</body>
</html>