<!DOCTYPE html>
<html lang="en">

<%-include("partials/head")%>

<body>

    <h1>Hola estas en la concesionaria : <%=nombre%></h1>

<!--     agregar link a la vista sucursales -->
    <p>Elegi alguna de nuestras Sucursales y podras ver toda su info</p>

    <ul>
       <%concesionaria.forEach(sucursal=>{%>
        <!--     agregar link a la vista sucursales -->
<li><%=sucursal.sucursal%></li>
<%  }) %>

    </ul>
    
</body>
</html>