/* Estilos generales para todo el sitio */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color : #333
}

/* Estilo para el encabezado */

header{
    background-color:#333;
    color: #f4f4f4;
    padding:20px;
    text-align: center;
}

/* Contenedor principal de los productos */


/* contenedor padre (flex-container) */
.contenedor-productos{
    display:flex; /* utilizamos flexbox para organizar los productos */
    flex-wrap: wrap;/* Permite que los productos se organicen en varias filas */
    justify-content: space-between;/*  espacio uniforme entre productos */
    padding: 20px;
}

.producto {
    background-color: white;
    width:  30%; /*cada producto ocupa un 30% del ancho del contenedor (tres productos por fila) */
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(223, 23, 23);      /*      añadir una sombra sutil */
     box-sizing: border-box; /* incluimos padding en el ancho total
      */
}

/* imagen */
.producto img{
    max-width: 100%; /* la imagen ocupa el 100% del contenedor */
    height: auto; /* mantiene la proporcion de la imagen */
}

/* titulo del producto */

.producto h3{
    font-size: 1.2rem;
    margin:10px 0;
}

/* precio del producto */

.producto p {
    font-size: 1rem;
    color: #4caf50;
}

/* boton de compra */
.producto button {
    background-color:#4caf50 ;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

/* media query para pantallas medianas (tablets) */

@media (max-width: 768px){
    .producto {
        width: 45%;/*  2 productos por fila en pantallas medianas */
    }
}


/* media query para pantallas pequeñas (moviles) */
@media (max-width: 480px){
    .producto {
        width: 100%;/*  1 productos por fila en pantallas pequeñas*/
    }
    header {
        padding :15px /* ajustamos el padding del encabezado en moviles */
    }
    .contenedor-productos {
        padding : 10px /*menos padding en dispositivos pequeños */
    }
}









/* contenedor hijos (flex-items) */

/* Cada caja de producto individual */

